*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* home*/
.titolo{
    margin-top: 5%;
    text-align: center;
    color: #30306C;
    font-size: xx-large;
    font-weight: bolder;
}

.iconimage{
    height: auto;
    width: 40px;
}



.whoarewetext{
    padding: 30px;
    text-align: center;
    color: black;
    text-align: justify;
    font-size: x-large;
}


/*tre immagini*/

.treimmagini{
    margin-left: 10%;
    padding-left: 5.8%;
    height: auto;
    width: auto;
}

.treimmaginitext{
    font-size: small;
    float: left;
    padding-left: 13.8%;
    color:#30306C;
    text-align: center;
}

.rectangle{
    margin-left: 10%;
    background: #FF974B;
    width: 1100px;
    height: 350px;
}

.rectangletext{
    padding-top: 10px;
    font-size: xx-large;
    color: #30306C;
    text-align: center;
}

.student{
    margin-top: 2%;
    margin-left: 5%;
    border-radius: 50%;
    width: 300px;
    height: 200px;
    border: groove;
    border-color: #30306C;;
    float: left;
}

.studenttext{
    text-align: justify;
    padding-top: 4%;
    font-size: x-large;
    color: #30306C;
    float: left;
}

.studentdescription{
    padding-top: 5%;
    font-size: large;
    color: black;
    text-align: center;
}


.cities{
    width: 200px;
    height: 180px;
}

.divcities{
    margin-right: 8%;
    width: 200px;
    height: 280px;
    text-align: justify;
}

.divtextspaces{
    color: white;
    height: 30px;
    border: white;
}


.alignment{
    margin-top: 100px;
    margin-left: 900px;
    align-content: center;
    color: #FF974B;
    font-size: xx-large;
    text-align: justify;
}

.firstimagehome{
    background-image: url(img/affitto-casa-studenti.png);
    height: 450px;
    width: 100%;
    text-align: center;
    display: flex;
}

.spaceline{
    width: 15%;
    background-color: black;
    size: 10;
    margin-left: 42%;
}

body{
    background-color:linear-gradient(0deg, rgb(170, 26, 26) 0%, rgb(73, 3, 58) 31%);
    background-color: rgb(255, 255, 255);
    color:#FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
}


p{
    font-size:32px ;
    font-weight: 600;
}

h3{
    font-size:38px ;
    font-weight: 800;
}


a {
    font-size: 35px;
    font-weight: 800;
    line-height: 42px;
    color: #FF974B;
    text-decoration: none;
    text-transform: uppercase;
}



p {
    font-size: 16px;
    margin-bottom:12px;
    margin-left: 30px;

}
a:hover{
    color: #30306C;
}


.about{
    width: 45%;
    margin: 0px 0px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgb(255, 255, 255);
    z-index: 5;
    padding: 5px 5px;
    display: flex;
    flex-wrap: wrap;
    
  /*  background:linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 31%);*/
}


.headerbuttons{
    position: fixed;
    right: 2%;
    top: 1%;
}

.blubuttons{
    background-color: rgb(7, 1, 87);
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding:0px 30px ;
    border: none;
    border-radius: 26px;
    margin-right: 20px;
    line-height: 42px;
    display: inline-flex;
}


.blubuttons:hover{
    color: rgb(237, 157, 76);
}

section{
    padding-bottom: 64px;
    padding-top: 64px;
}

.hero-cta{
    align-self: flex-end;
}


.header-container{
   /* width: 80%;*/
    display: flex;
    flex-wrap: wrap;
}

.logo{
    max-width: 135px;
    max-height: 100px;
}

img{
    width: 80px;
    height: auto;
}

.logoimmagine{
    width: 40px;
    height: auto;
}
.name{
    margin-left: 10px;
    margin-right: 64px;
    font-size: 36px;
    font-weight: 300;
    color: #30306C;
    line-height: 42px;}

menu ul{
    list-style-type: none;
    display: flex;
}

.menu ul li{
    list-style-type: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 15px;
    line-height: 42px;
    display: inline-flex;
}

.menu ul li a {
    list-style-type: none;
    font-size: 15px;
}  

.anchors{
    visibility: hidden;
    position: relative;
    top: -50px;

}
/*centro*/

.centro{
    text-align: center;
}

.areaEmail{
    width: auto;
    font-size: 13px;
    font-weight: 700;
    border-radius: 26px;
    line-height: 42px;
    display: inline-flex;
    background-color: #FF974B;
    text-align: center;
}



.container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px; /* in modo da vincolare l'estensione massima
    in modo che resti tutto contenuto e compresso senza rompere il layout*/

}



/*contatti*/

.contacts-section{
    margin-bottom: 200px;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.contactscolumn{

    float: left;
    width: 45%;
    padding: 30px;
    
}


.p.contactscolumn{
    text-align: center;
}

.icon-contacts{
    width: 350px;
    height: auto;
}




.maintext-contact{
    color: #FF974B;
    font-size: xx-large;
    text-align: center;

}

.contact-info{
    font-size: 16px;
    margin-bottom:12px;
    color: #30306C;
    text-align: center;

}

/*footer*/
footer{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.footer-support-text-owned {
    font-size: 17px;
    padding-top: 15px;
    margin-top: 20px;
    color: #fff;
    margin-left: 0px;
    font-weight: 200;
}
   
.footer-container {
    background-color: rgb(237, 157, 76); /* Optional */
    display: grid;
    grid-gap: 1rem; /* Optional */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem; /* Optional */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    margin-top: 15px;
}
    
.column {
    color: #30306C;
    grid-template-columns: 1fr 1fr 1fr;
    float: left;
    padding: 1rem;
    height: 260px;
    width: 600px;
}
    
.column-2,
.column-3{
    margin-top: 10px;
    padding-top: 10px;
    height: 260px;
    width: 250px;
}
    
    
.footer-header {
        color: #30306C;
        font-weight: 300;
        font-size:30px ;
        margin-bottom: 27px;
}

    /*bisogna sostituire l'immagine del logo con 
    logo su sfondo arancione -file alloggistudenti.html*/
    
.small-footer-header {
    text-transform: uppercase;
    line-height: 5px;
    font-size: 23px;
    font-weight: 200;
    margin-bottom: 15px;
}
    
.footer-support-text {
    color: #30306C;
    font-size: 21px;
    margin-top: 15px;
    margin-left: 0px;
    font-weight: 200;
}
    
.footer-link {
    color: #30306C;
    text-decoration: none;
    text-transform: none;
    line-height: 5px;
    font-size: 20px;
    font-weight: 100;
}
    
.fcc-footer-logo {
    width: 40px;
    vertical-align: middle;
}
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/*FAQ*/

    .faq-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

    .faq-page {
        color: #30306C;
        cursor: pointer;
        padding: 30px 20px;
        width: 60%;
        border: none;
        outline: none;
        transition: 0.4s;
        margin: auto;
    }
    
    .active,
    .faq-page:hover {
        background-color: #FF974B;
    }
    .faq-body {
        padding: 10px 20px;
        background-color: #30306C ;
        display: none;
        overflow: hidden;
        margin: auto;
        width: 60%; 
        padding: auto;
    }
    .faq-page:after {
        content: '\02795'; /* Unicode  (+) */
        font-size: 13px;
        color: #30306C;
        float: right;
        margin-left: 5px;
    }
    .active:after {
        content: "\2796"; /* Unicode (-) */
    }


/*bottone*/
.back-to-top{
    background-image: url('img/1500306-icona-freccia-verso-l-alto-gratuito-vettoriale.png');
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #30306C;
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 80px;
    right: 30px;
}
